<div class="top-row">
  <p class="version">Version {{ dataVersion }}</p>
  <span class="divider"></span>
  <button mat-flat-button (click)="onNewClicked()">New</button>
  <span class="divider"></span>
  <button mat-flat-button (click)="onDownloadClicked()">Download</button>
  <span class="divider"></span>
  <label class="load-file-label" for="load-file">Load: </label>
  <input
    #fileInput
    class="file-input"
    type="file"
    id="load-file"
    (change)="handleFileInput($event)"
  />
</div>
<div class="cell-container" [style.width.px]="cellSideLength">
  <app-cell
    *ngFor="let cell of cells; let i = index"
    [cell]="cell"
    [index]="i"
  ></app-cell>
  <!-- <div
    class="cell"
    [style.width.px]="cellSideLength"
    [style.height.px]="cellSideLength"
    (click)="openDialog()"
    *ngIf="cells.length === 0"
  >
    <mat-icon class="cell-icon" aria-hidden="false" aria-label="Cell Action"
      >add</mat-icon
    >
  </div> -->
  <!-- <div
    class="cell"
    [style.width.px]="cellSideLength"
    [style.height.px]="cellSideLength"
    (click)="installPWA()"
  >
    <span>Install PWA</span>
  </div> -->
</div>

<ng-template #confirmNewDialog>
  <h2 matDialogTitle>Confirm</h2>
  <p matDialogContent>
    Are you sure you want to start a new dashboard? The current data will be
    lost unless you export first.
  </p>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true">Confirm</button>
  </mat-dialog-actions>
</ng-template>
