$menu-bar-size: 32px;
$menu-bar-padding: 2px;

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: $menu-bar-size;
  padding-bottom: $menu-bar-padding;

  button {
  }

  .version {
    margin: 0 16px;
    flex: 1;
    text-align: end;
  }

  .load-file-label {
    margin-left: 16px;
  }
}

.file-input {
  margin-left: 8px;
}

.cell-container {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-items: flex-start;
  // justify-content: flex-start;
  // height: calc(100% - #{$menu-bar-size});
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  max-height: calc(100% - #{$menu-bar-size});
}

.bottom-bar-container {
  flex: 1;
  // overflow: hidden;
  background-image: url("/assets/imgs/bottom-bar.png");
  background-size: 100% 100%;

  // .bottom-bar {
  //   height: 255px;
  //   width: 100%;
  //   object-fit: fill;
  // }
}
