<h2 mat-dialog-title>Add #{{ index }} Cell Action</h2>
<mat-dialog-content class="mat-typography">
  <form class="dialog-form" [formGroup]="newCellForm">
    <div>
      <label>Event type: </label>
      <mat-radio-group formControlName="type">
        <mat-radio-button value="midi">MIDI</mat-radio-button>
        <mat-radio-button value="cc">CC</mat-radio-button>
      </mat-radio-group>
    </div>
    <br />

    <!-- MIDI Form -->
    <div *ngIf="newCellForm.controls.type.value === 'midi'">
      <mat-form-field appearance="fill">
        <mat-label>Label</mat-label>
        <input formControlName="label" type="string" matInput />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Note</mat-label>
        <input formControlName="note" min="0" type="number" matInput required />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Velocity</mat-label>
        <input
          formControlName="velocity"
          min="0"
          max="127"
          type="number"
          matInput
          required
        />
      </mat-form-field>
    </div>

    <!-- CC Form -->
    <div *ngIf="newCellForm.controls.type.value === 'cc'">
      <mat-form-field appearance="fill">
        <mat-label>Label</mat-label>
        <input formControlName="label" type="string" matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Controller</mat-label>
        <input
          formControlName="controller"
          min="0"
          max="127"
          type="number"
          matInput
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Value</mat-label>
        <input
          formControlName="value"
          min="0"
          max="127"
          type="number"
          matInput
          required
        />
      </mat-form-field>
      <br />
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Icon</mat-label>
      <!-- <mat-select formControlName="iconName">
        <mat-optgroup
          *ngFor="let iconGroup of matIconList | keyvalue"
          [label]="iconGroup.key"
        >
          <mat-option *ngFor="let icon of iconGroup.value" value="{{ icon }}">
            <div class="icon-select-option">
              <span>{{ icon }}</span
              ><mat-icon>{{ icon }}</mat-icon>
            </div>
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-label>States Group</mat-label> -->
      <input
        type="text"
        matInput
        formControlName="iconName"
        [matAutocomplete]="autoGroup"
      />
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup
          *ngFor="let group of matIconList$ | async"
          [label]="group.group"
        >
          <mat-option *ngFor="let name of group.names" [value]="name">
            <div class="icon-select-option">
              <span>{{ name }}</span
              ><mat-icon>{{ name }}</mat-icon>
            </div>
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [disabled]="!newCellForm.valid"
    color="primary"
    [mat-dialog-close]="newCellForm.value"
    cdkFocusInitial
  >
    {{ isEditMode ? "Save" : "Add" }}
  </button>
</mat-dialog-actions>
