:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button-container {
  position: absolute;
  user-select: none;

  width: 90%;
  height: 90%;

  img {
    width: 100%;
    height: 100%;
    user-select: none;
  }
}

.label,
.type,
.info {
  z-index: 100;
}

.label {
  color: #fff;
}
