<div
  class="cell cell-button"
  [style.width.px]="cellSideLength"
  [style.height.px]="cellSideLength"
  (contextmenu)="onCellContextMenu($event); $event.stopPropagation()"
>
  <ng-container *ngIf="cell; else noCell">
    <div
      *ngIf="cell.cellType === 'button'"
      class="cell-inner"
      (mousedown)="onCellMousedown($event); $event.stopPropagation()"
      (mouseup)="onCellMouseup()"
      (mouseleave)="onCellMouseup()"
    >
      <mat-icon
        class="cell-icon"
        aria-hidden="false"
        aria-label="Cell Action"
        >{{ cell.iconName }}</mat-icon
      >
      <span class="label">{{ cell.label }}</span>
      <span class="type">{{ cell.type }}</span>
      <span class="info">{{ getCellInfoText() }}</span>
    </div>
    <div
      *ngIf="cell.cellType === 'knob'"
      class="cell-inner"
      (drag)="onCellMouseDrag($event)"
      (dragover)="onCellMouseDrag($event)"
    >
      <span class="knob-container">
        <img class="knob" src="assets/imgs/knob.png" />
        <img
          #knobIndicator
          class="knob-indicator"
          src="assets/imgs/knob_indicator.png"
        />
      </span>
      <span class="label">{{ cell.label }}</span>
      <span class="type">{{ cell.type }}</span>
      <span class="info">{{ getCellInfoText() }}</span>
    </div>
  </ng-container>
  <ng-template #noCell>
    <div
      class="cell-inner"
      (mousedown)="onCellMousedown($event); $event.stopPropagation()"
      (mouseup)="onCellMouseup()"
    >
      <mat-icon class="cell-icon" aria-hidden="false" aria-label="Cell Action"
        >add</mat-icon
      >
    </div>
  </ng-template>
</div>
