$icon-size: 72px;

.cell-inner {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2px;
  overflow: hidden;

  border: solid 2px #dadada;
  border-radius: 8px;
  cursor: pointer;

  user-select: none;

  &:hover {
    background-color: #eee;
  }

  .label {
    margin-top: 16px;
  }

  .type {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 2px 8px;

    color: #fff;

    text-transform: uppercase;

    background-color: #000;

    border-top-right-radius: 8px;
  }

  .info {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.cell-icon {

  font-size: $icon-size;

  &.mat-icon {

    width: $icon-size;
    height: $icon-size;
  }
}

.button-container {
  position: absolute;

  width: 60%;
  height: 60%;

  img {
    width: 100%;
    height: 100%;
  }
}

.slider-container {
  position: relative;

  width: 60%;
  height: 60%;

  .slider-handle,
  .slider-track {
    position: absolute;

    width: 100%;
    height: 100%;
  }
}