<div
  class="form-container"
  *ngIf="showForm"
  (mouseleave)="onMouseLeave($event)"
>
  <p class="index-display">{{ index }}</p>
  <div class="top-buttons">
    <div *ngIf="isFormStarted" class="button-group">
      <button
        class="previous"
        *ngIf="enablePreviousPageButton()"
        (click)="onPreviousPageClicked()"
      >
        <mat-icon aria-hidden="false" aria-label="Previous page"
          >arrow_back</mat-icon
        >
      </button>
      <button
        class="close"
        *ngIf="currentPage === 0"
        (click)="onCloseFormPressed()"
      >
        <mat-icon aria-hidden="false" aria-label="Close form">close</mat-icon>
      </button>
    </div>
    <div *ngIf="isFormStarted" class="button-group">
      <button
        class="next"
        *ngIf="enableNextPageButton()"
        (click)="onNextPageClicked()"
      >
        <mat-icon aria-hidden="false" aria-label="Next page"
          >arrow_forward</mat-icon
        >
      </button>
      <button
        class="save"
        *ngIf="currentPage === pageCount"
        (click)="onSubmit()"
      >
        <mat-icon aria-hidden="false" aria-label="Submit">check</mat-icon>
      </button>
    </div>
  </div>
  <div class="control-group cell-type" *ngIf="currentPage === 0">
    <button
      class="button button-button"
      [class.selected]="newCellForm.value.cellType === 'button'"
      (click)="controlTypeSelected('button')"
    >
      Button
    </button>
    <button
      class="button knob-button"
      [class.selected]="newCellForm.value.cellType === 'knob'"
      (click)="controlTypeSelected('knob')"
    >
      Knob
    </button>
    <button
      class="button slider-button"
      [class.selected]="newCellForm.value.cellType === 'slider'"
      (click)="controlTypeSelected('slider')"
    >
      Slider
    </button>
  </div>
  <div class="control-group message-type" *ngIf="currentPage === 1">
    <button
      class="button"
      [class.selected]="newCellForm.value.type === 'midi'"
      (click)="typeSelected('midi')"
    >
      MIDI
    </button>
    <button
      class="button"
      [class.selected]="newCellForm.value.type === 'cc'"
      (click)="typeSelected('cc')"
    >
      CC
    </button>
  </div>
  <div
    class="control-group"
    *ngIf="newCellForm.value.type === 'midi' && currentPage === 2"
    [formGroup]="newCellForm"
  >
    <input type="number" placeholder="Note" [formControlName]="'note'" />
    <input
      type="text"
      placeholder="Maximum Velocity"
      [formControlName]="'velocity'"
    />
    <input type="text" placeholder="Label" [formControlName]="'label'" />
  </div>
  <div
    class="control-group"
    *ngIf="newCellForm.value.type === 'cc' && currentPage === 2"
    [formGroup]="newCellForm"
  >
    <input
      type="text"
      placeholder="Controller"
      [formControlName]="'controller'"
    />
    <input type="text" placeholder="Value" [formControlName]="'value'" />
    <input type="text" placeholder="Label" [formControlName]="'label'" />
  </div>

  <div class="bottom-buttons">
    <div *ngIf="isFormStarted" class="button-group"></div>
    <div *ngIf="isFormStarted" class="button-group">
      <button class="delete" (click)="onClearFormPressed()">
        <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
