.form-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  background-color: #c4c4c4;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin: 8px 0;
    background-color: #f2f2f2;
    height: 48px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.selected, &:hover {
      background-color: #e0e0e0;
    }
  }

  .top-buttons,
  .bottom-buttons {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 24px;

    .button-group > button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      height: 24px;
      width: 24px;
      font-size: 1em;
      cursor: pointer;

      &:hover {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
  }

  .control-group {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    input {
      padding: 8px;
      border: none;
      border-bottom: 1px solid black;
      background: none;
    }
  }

  .index-display {
    position: absolute;
    left: 8px;
    bottom: 8px;
    margin: 0;
  }
}
